---
import Eye from "@/icons/Eye.astro"
import Github from "@/icons/Github.astro"
import Modal from "@/components/Modal.astro"
import Code from "@/icons/Code.astro"

const PROJECTS = [
  {
    name: "8 nortes",
    description: "Landing Page para la comunidad de 8 nortes, quienes son un grupo de jóvenes de barrio que realizan actividades autolesionadas por y para el barrio. Esta landing page busca transmitir la esencia de lo que es 8 nortes.",
    img: "/projects/8nortes.webp",
    github: "https://github.com/malsebasmal/8nortes",
    urlPage: "https://8nortes.pages.dev"
  },
  {
    name: "LoloBelo",
    description: "Menu digital para la empresa LoloBelo. Una pizzeria reconocida en el distrito de puente piedra (en Lima, Perú). Con este menú digital se busco facilitar la visualización rápida de las distintas pizzas y/o acompañantes que ofrece este local.",
    img: "/projects/lolobelo.webp",
    github: "https://github.com/malsebasmal/LoloBelo",
    urlPage: "https://lolobelo.pages.dev"
  },
  {
    name: "Bailaton",
    description: "Landing Page para la familia del parque Kennedy, ubicado en Miraflores, Lima - Perú. Dónde todos los viernes, sábados y domingos realizan una actividad llamada 'bailaton'.",
    img: "/projects/bailaton.webp",
    urlPage: "https://bailaton.pages.dev"
  },
  {
    name: "No Somos Tv",
    description: "'Linktree' más elaborado para la empresa exitosa de comedia peruana No Somos Tv.",
    img: "/projects/nosomostv.webp",
    github: "https://github.com/malsebasmal/NoSomosTv-StaticPage",
    urlPage: "https://nosomostv.netlify.app"
  },
  {
    name: "Gallery Music",
    description: "Galería musical de mis géneros favoritos más escuchados.",
    img: "/projects/gallerymusic.webp",
    github: "https://github.com/malsebasmal/GalleryMusic-StaticPage",
    urlPage: "https://gallerymusic.netlify.app"
  }
]
---

<section id="projects" class="pt-0 md:pt-28 w-full flex flex-col justify-center items-center mt-20">
  <div class="w-full flex justify-start pb-5">
    <h3 class="text-white flex justify-center items-center gap-2 text-3xl font-semibold">
      <Code class="size-8" /> Proyectos
    </h3>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 auto-rows-auto gap-4">
    {PROJECTS.map((project) => (
      <div class="group relative mockup-browser rounded-lg bg-base-300 border w-full h-full">
        <div class="mockup-browser-toolbar">
          <div class="input text-white text-lg">{project.urlPage}</div>
        </div>
        <div class="bg-base-200 flex justify-center">
          <img class="w-full" src={project.img} alt={project.name} />
        </div>

        <div class="absolute inset-0 bg-black/10 backdrop-blur-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease flex flex-col items-center justify-center gap-4">
          <div class="flex flex-wrap justify-center items-center gap-4">
            <a href={project.github} target="_blank" class="flex gap-2 items-center justify-center px-4 py-2 bg-white rounded-md text-lg text-cPink hover:bg-cPink hover:text-white transition duration-150 ease font-medium">
              <Github /> Code
            </a>
            <a href={project.urlPage} target="_blank" class="flex gap-2 items-center justify-center px-4 py-2 bg-white rounded-md text-lg text-cPink hover:bg-cPink hover:text-white transition duration-150 ease font-medium">
              <Eye /> Preview
            </a>
            <Modal id={`modal-${project.name}`} name={project.name} description={project.description} />
          </div>
        </div>
      </div>
    ))}
  </div>
</section>

